            <div id="sidebar-left" class="sidebar">
                    <div id="block-block-8" class="clear-block block block-block">

  <h2>Categorías</h2>

  <div class="content">
  	<%	Category.all.each do |c| %>
    	<span class="itemMenu"><a href='/<%= c.nombre %>'> <%= c.nombre %> </a></span> 
   <% end %>


	</div>
</div>
<div id="block-block-9" class="clear-block block block-block">

  <h2>Información</h2>

  <div class="content"><p><span class="itemMenu"><a href="/info">Qu&eacute; es la Ciencia?</a></span><span class="itemMenu"><a href="/about">Acerca de</a></span> <span class="itemMenu"><a href="/licencia">Licencia</a></span> <span class="itemMenu"><a href="/contacto">Contacto</a></span> </p>
</div>
</div>
<div id="block-aggregator-feed-2" class="clear-block block block-aggregator">

  <h2>Noticias</h2>

  <div class="content"><div class="item-list"><ul><li class="first"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNH6INUejnvqfxKmWx801Vbie_o1GA&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778798660984&amp;ei=O-x7U-CGHYW21QbJ4YGgDA&amp;url=http://www.24baires.com/tecnologia/46400-preguntados-el-juego-del-momento-dec">Preguntados, el juego del momento, declarado de interés cultural - 24 Baires</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNFwp32wJwW1sycJE_FnknpFo60hFA&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778798191801&amp;ei=O-x7U-CGHYW21QbJ4YGgDA&amp;url=http://www.eltiempo.com/tecnosfera/novedades-tecnologia/china-prohibe-windows">China prohibe Windows 8 en computadores estatales - ElTiempo.com</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNEzxobbO-awhKONKyJYCnYtFcVJtg&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778795995085&amp;ei=O-x7U-CGHYW21QbJ4YGgDA&amp;url=http://www.eldiariodecarlospaz.com/espectaculos/2014/5/20/insolito-ropa-fogos">Insólito: Una ropa fogosa para tener sexo virtual - El Diario de Carlos Paz</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNFdluE_0LVN6fT2tHPuApOhPtdQ6w&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778798497200&amp;ei=O-x7U-CGHYW21QbJ4YGgDA&amp;url=http://www.infobae.com/2014/05/20/1566146-moovit-la-aplicacion-saber-cuando-y">Moovit, la aplicación para saber cuándo y cómo viene el colectivo o ... - InfoBAE.com</a>
<li class="last"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNHPmVwTYZfZqIbJDNP4Ojo-8xdvlQ&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778797404767&amp;ei=O-x7U-CGHYW21QbJ4YGgDA&amp;url=http://www.infobae.com/2014/05/20/1566142-facebook-lanzo-una-nueva-funcion-po">Facebook lanzó una nueva función polémica - InfoBAE.com</a>
</li>
</ul></div><div class="more-link"><a href="/aggregator/sources/2" title="Ver las noticias recientes de este hilo.">más</a></div></div>
</div>