<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2>Acerca de</h2>                                                  <div class="clear-block">
            <div id="node-18" class="node">



  
  <div class="content clear-block">
    <div><!--adsense: page not in match list--></div>
<p><!-- google_ad_section_start --><div style="text-align: justify;">
<p>El proyecto ABCiencia naci&oacute; como una idea del profesor de Biolog&iacute;a Fernando Sica, durante una clase de la mencionada materia en la escuela argentina Dr. Ernesto S&aacute;bato, en la ciudad bonaerense de Tandil.<br />
		En primera instancia, se pens&oacute; sobre una publicaci&oacute;n online de una revista cient&iacute;fica, cada determinada cantidad de tiempo, pero las ambiciones fueron m&aacute;s all&aacute;. Se decidi&oacute; crear una p&aacute;gina web, completa y funcional, la cual tendr&iacute;a art&iacute;culos cient&iacute;ficos redactados por alumnos de diferentes edades, ya sea escolares o universitarios.</p>
<p>		As&iacute; fue como, tiempo despu&eacute;s, naci&oacute; la actual ABCiencia.com.ar, una revista cient&iacute;fica y algo m&aacute;s...<br />
		&nbsp;</p>
<hr />
<h3>
		<br />
		&nbsp;</h3>
<h3>
		<strong>Webmasters:</strong></h3>
<ul>
<li>
			<strong>Cristian Daniel Fad&oacute;n (Estudiante de 2<sup>do</sup> a&ntilde;o de Ingenier&iacute;a en Sistemas, UNICEN).</strong></li>
<li>
			<strong>Gabriel Curtino (Ingeniero en Sistemas de Informaci&oacute;n, UTN </strong><strong>FRSFCO</strong><strong>).</strong></li>
</ul>
<h3>
		<strong>Dise&ntilde;adores:</strong></h3>
<ul>
<li>
			<strong>Ra&uacute;l Bacchiarelo (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Ramiro Gentile (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
</ul>
<h3>
		<strong>Redactores:</strong></h3>
<p><strong>2012</strong></p>
<ul>
<li>
			<strong>Pamela Pascual</strong><strong>&nbsp;(Estudiante&nbsp;de Matem&aacute;tica, UNL).</strong></li>
</ul>
<p><strong>2009</strong></p>
<ul>
<li>
			<strong>Nicol&aacute;s Oficialdegui</strong><strong> (Profesor de Qu&iacute;mica).</strong></li>
<li>
			<strong>Marcos Gonz&aacute;lez (Estudiante de 1<sup>er</sup> a&ntilde;o de Bioqu&iacute;mica, UBA).</strong></li>
<li>
			<strong>Luciana Mentasti (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Agustina Fern&aacute;ndez</strong> <strong>(</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Paula D&aacute;ttoli (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Florencia Canevello (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Celina Dinon (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Aynara Pucheu (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Azul Torrano Rossi (Estudiante de 3</strong><sup><strong>e</strong><strong>r</strong></sup><strong> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Romina Fairbairn (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Facundo Mohuap&eacute; (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Ayel&eacute;n Pagadizabal (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Mariano Cervi&ntilde;o (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Celia Alfredo (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Maximiliano D&rsquo;Onofrio (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Angeles Enriqu&eacute; (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Stefania Lindner (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Gonzalo Mart&iacute;n (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Cristian Daniel Sanchez (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Luis Schiaratura (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Nicol&aacute;s Falivene (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Luciano Gabriel Scala (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Nahir Cantar (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Lucrecia Gosende (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Nicol&aacute;s Falivene (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Fiorella Lovano (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Micaela Julia Dilascio (Estudiante de 3<sup>er</sup></strong> <strong>a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Abril Giagante (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Iv&aacute;n Mackeprang (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Juliana Mihojevic (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Rocio Adorno Lindner (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Luz Barker (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Celeste Cabral (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Florencia Paulo (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Pamela P&eacute;rez Fogel (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Gabriel P&aacute;ez (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Paula Tridone (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Yessica Almeida (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Heber Chialva (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Julia Rodriguez (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Diego Roque de Castro Araujo (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Florencia Spina (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Maria Arislur (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Victoria Demarco (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Roc&iacute;o Fernandez (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong>Silvina&nbsp; (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></li>
<li>
			<strong><strong>Diego P&aacute;ez (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></li>
<li>
			<strong><strong>Federico Errobidart (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></li>
<li>
			<strong><strong>Florencia Scorolli (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></li>
<li>
			<strong><strong>Melisa Molina (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></li>
<li>
			<strong><strong>Micaela Nieto (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></li>
</ul>
<p>	<strong><strong><strong>2008</strong> </strong></strong></p>
<ul>
<li>
			<strong><strong><strong>Cristian Daniel Fad&oacute;n (Estudiante de 1<sup>er</sup> a&ntilde;o de Ingenier&iacute;a en Sistemas, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Juan Manuel Dami&aacute;n </strong><strong>(Estudiante de 1<sup>er</sup> a&ntilde;o de Ingenier&iacute;a en Sistemas, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Sebasti&aacute;n Pellitero </strong><strong>(Estudiante de 1<sup>er</sup> a&ntilde;o de Ingenier&iacute;a en Sistemas, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Damasia Roca (Estudiante de 1<sup>er</sup> a&ntilde;o de Dise&ntilde;o del Paisaje, UBA).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Juan Pablo Basualdo (Estudiante de CBC de Ciencias Biol&oacute;gicas, UBA).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Javier Mart&iacute;n Cabrera.</strong></strong></strong></li>
<li>
			<strong><strong><strong>Fernando Sica (Profesor de Biolog&iacute;a, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Sebasti&aacute;n Acosta (Estudiante de 1<sup>er</sup> a&ntilde;o de Ingenier&iacute;a Electromec&aacute;nica, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Gast&oacute;n Errodibart (Estudiante de 1<sup>er</sup> a&ntilde;o de Ciencias Veterinarias, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Gisela Morey (Estudiante de 1<sup>er</sup> a&ntilde;o de Ciencias de la Educaci&oacute;n, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Estefan&iacute;a Gasteneguy (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Joaqu&iacute;n Cabrera (Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Ulises Chialva (</strong><strong>Estudiante de 3<sup>er</sup> a&ntilde;o de Polimodal, UNICEN).</strong></strong></strong></li>
<li>
			<strong><strong><strong>Areceli Beratucci (</strong><strong>Estudiante de 3<sup>er</sup>&nbsp;a&ntilde;o de Polimodal, UNICEN).</strong></strong></strong></li>
</ul>
<p></p>
<p><strong><strong>&nbsp;</strong></strong></p>
</div>
<p>&nbsp;</p>
<p><strong><strong>&nbsp;</strong></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- google_ad_section_end --><br class="clear" />
<!--adsense: page not in match list--></p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4210258-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
  </body>
</html>
