<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2><%= @article.article %></h2>                                                  <div class="clear-block">
            <div id="node-108" class="node">



      <span class="submitted">Escrito por <%= @article.autor %></span>
  
  <div class="content clear-block">
    <div><div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x15 */
google_ad_slot = "6694547893";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></div>
<p><!-- google_ad_section_start --><div align="justify">

</div>
<!-- google_ad_section_end --><br class="clear" />
<div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x90 */
google_ad_slot = "8129496916";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
<div id="block-facebook_comments_box-facebook_comments_box" class="clear-block block block-facebook_comments_box">


  <div class="content"><div class="facebook-comments-box"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="http://www.abciencia.com.ar/ciencias-de-la-tierra/la-tragedia-del-ozono"  num_posts="10"  width="700"  colorscheme="light" ></fb:comments></div></div>
</div>
          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4210258-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
  </body>
</html>
