<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-9" class="clear-block block block-block">

  <h2>Información</h2>

  <div class="content"><p><span class="itemMenu"><a href="/info">Qu&eacute; es la Ciencia?</a></span><span class="itemMenu"><a href="/about">Acerca de</a></span> <span class="itemMenu"><a href="/licencia">Licencia</a></span> <span class="itemMenu"><a href="/contacto">Contacto</a></span> </p>
<style type="text/css">
.itemMenu a:link, .itemMenu a:visited {
	display: block;
	width: 100%;
	padding: 2px 0px;
	padding-left: 5px;
	padding-right: 9px;
	font-weight: bold;
	color: #18583d;
	border-bottom: 1px #18583d solid;
}
.itemMenu a:hover {
	display: block;
	width: 100%;
	background-color: #52bf90;
	color: #000000;
	text-decoration: none;
	filter: alpha(opacity=75); opacity: .75;
}
</style>
</div>
</div>
<div id="block-aggregator-feed-2" class="clear-block block block-aggregator">

  <h2>Noticias</h2>

  <div class="content"><div class="item-list"><ul><li class="first"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNF3ai7s4DGcMg_2EnuEWPD1iVzrLQ&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778800555244&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://elcomercio.pe/economia/personal/ver-mundial-precios-tv-mas-40-noticia-">Para ver el Mundial: los precios de las TV de más de 40&quot; | El ... - El Comercio</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNHcWM_JZk5NnS5MGmh4YH1E_t2t-Q&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778800137333&amp;ei=Dc6AU_j1H8mz1AaWvoCABw&amp;url=http://www.eltribuno.info/jujuy/407193-Frostie-aprendio-a-caminar-con-la-ayud">Frostie, aprendió a caminar con la ayuda de sus rueditas - El Tribuno.com.ar</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNHYKytbcfh499vOEeZcDkQuKHSFRg&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778797126684&amp;ei=Dc6AU_j1H8mz1AaWvoCABw&amp;url=http://www.eltribuno.info/Jujuy/407342-Sol-fue-coronada-en-su-eleccion-de-rei">Artistas jujeños estuvieron en la Feria Puro Diseño - El Tribuno.com.ar</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNEYKXhs0PfjrprteZJQs19xBs-t-g&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778802282354&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://www.lanacion.com.ar/1694287-un-fin-de-semana-frio-y-soleado-en-la-ciud">Un fin de semana frío y soleado en la ciudad de Buenos Aires - lanacion.com (Argentina)</a>
</li>
<li class="last"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNFFIbzWFXEIbsAFRX7izwp3IR7cNA&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778798660984&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://www.territoriodigital.com/nota3.aspx?c%3D1969296479662724">Buscan declarar de interés cultural al videojuego &quot;Preguntados&quot; - TerritorioDigital.com</a>
</li>
</ul></div><div class="more-link"><a href="/aggregator/sources/2" title="Ver las noticias recientes de este hilo.">más</a></div></div>
</div>
<div id="block-block-1" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="Descargar Mozilla Firefox 4" href="http://www.mozilla-europe.org/es/products/firefox/"><img width="110" height="32" style="border: 0pt none ;" alt="Mozilla Firefox 4" src="http://www.abciencia.com.ar/images/firefox.png" /></a></p>
</div>
</div>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2>Medicina</h2>                                                  <div class="clear-block">
            <div id="node-7" class="node">



  
  <div class="content clear-block">
    <div><div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x15 */
google_ad_slot = "6694547893";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></div>
<p><!-- google_ad_section_start --><p class="menuloco"><a href="/medicina"><u>Medicina general</u></a>|<a href="/medicina/psiquiatria">Psiquiatr&iacute;a</a>|<a href="/medicina/videos">Videos</a> </p>
<style type="text/css">
.menuloco a:link, .menuloco a:visited {
	padding: 2px 0px;
	padding-left: 5px;
	padding-right: 9px;
	font-weight: bold;
	color: #18583d;
}
.menuloco a:hover {
	background-color: #52bf90;
	color: #000000;
	text-decoration: none;
	filter: alpha(opacity=75); opacity: .75;
}
</style>
<hr />
<p><a href="http://abciencia.com.ar/medicina/que-le-pasa-a-tu-cuerpo-cuando-consumis-marihuana"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Qu&eacute; le pasa a tu cuerpo cuando consum&iacute;s Marihuana</font></b></font></a><br />
En el siguiente art&iacute;culo, se explica c&oacute;mo la marihuana afecta el organismo de aquellas personas que la consumen. Adem&aacute;s, se analiza de forma breve el debate sobre la legalizaci&oacute;n de la misma.</p>
<p><a href="http://abciencia.com.ar/medicina/doping-cuando-la-pelota-se-mancha"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Doping: Cuando la pelota se mancha</font></b></font></a><br />
En los &uacute;ltimos a&ntilde;os, la ambici&oacute;n de triunfo ha llevado a deportistas de distintas disciplinas a utilizar sustancias prohibidas para mejorar su rendimiento deportivo. Desde las organizaciones deportivas mundiales se han redoblado los esfuerzos para eliminarlo aumentando los controles y aplicando sanciones m&aacute;s duras. Sin embargo, estas pr&aacute;cticas son cada vez m&aacute;s comunes, y las t&eacute;cnicas y drogas m&aacute;s diversas y sofisticadas.</p>
<p><a href="http://abciencia.com.ar/medicina/transplantes-beneficios-para-todos"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Transplantes: Beneficios para Todos...</font></b></font></a><br />
El tr&aacute;fico de &oacute;rganos es un problema que aqueja a todas las personas del mundo. A su vez el transplante de los mismos salva miles de vidas por a&ntilde;o, es por esto que en Argentina se declar&oacute; una ley para que todos los que necesiten un transplante puedan recibir su &oacute;rgano a tiempo. Pero puede que esta ley sea utilizada por el mercado negro de venta ilegal de &oacute;rganos, para cubrir algunas de sus acciones, esto es lo que la hace tan controversial.</p>
<p><a href="http://www.abciencia.com.ar/medicina/catalepsia"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Catalepsia: &iexcl;Ayuda! &iexcl;Estoy aqu&iacute; dentro!</font></b></font></a><br />
La catalepsia es un estado en el cual la persona yace aparentemente muerta, porque no posee signos vitales y se encuentra inm&oacute;vil. Sin embargo, luego de unas cuantas horas, despierta como de un sue&ntilde;o muy profundo.<a href="http://www.abciencia.com.ar/medicina/enfermedades-autoinmunes"><br />
</a><a href="http://www.abciencia.com.ar/medicina/la-nutricion-en-los-ni%C3%B1os"><br />
<font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">La nutrici&oacute;n en los ni&ntilde;os</font></b></font></a><br />
La ni&ntilde;ez es una edad con requerimientos nutricionales importantes que se vinculan con los cambios fisiol&oacute;gicos, emocionales y sociales que ocurren en esta etapa. El papel de la alimentaci&oacute;n es fundamental para aportar al organismo la energ&iacute;a y los nutrientes necesarios para su correcto funcionamiento. De esta manera el ni&ntilde;o llegara a la adultez con una madurez tanto f&iacute;sica como psicol&oacute;gica. El siguiente escrito aborda las problem&aacute;ticas alimentarias en la actualidad.<a href="http://www.abciencia.com.ar/medicina/enfermedades-autoinmunes"><br />
<font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
Enfermedades autoinmunes: Cuando el cuerpo se autodestruye</font></b></font></a><br />
El cuerpo posee c&eacute;lulas especializadas en eliminar las sustancias que pueden hacernos da&ntilde;o. Pero&hellip;&iquest;qu&eacute; pasa cuando es el propio cuerpo la principal amenaza?<a href="http://www.abciencia.com.ar/medicina/reaparici%C3%B3n-de-la-obsidiana"><br />
</a></p>
<p><a href="http://www.abciencia.com.ar/medicina/amnesia-una-enfermedad-en-las-sombras"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Amnesia: la materia pendiente. Una enfermedad en las sombras</font></b></font></a><br />
Si bien los avances en las tecnolog&iacute;as y en las investigaciones han contribuido notoriamente con la ampliaci&oacute;n del conocimiento y tratamientos de la amnesia, esta enfermedad sigue siendo a&uacute;n muy extra&ntilde;a al ojo cient&iacute;fico y no existen todav&iacute;a mecanismos precisos para combatirla.<a href="http://www.abciencia.com.ar/medicina/reaparici%C3%B3n-de-la-obsidiana"><br />
</a><a href="http://www.abciencia.com.ar/medicina/reaparici%C3%B3n-de-la-obsidiana"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
Reaparici&oacute;n de la Obsidiana</font></b></font></a><br />
&iquest;Los avances m&eacute;dicos acaso siempre significan progreso? La verdad sobre el abandono de la obsidiana es quiz&aacute;s uno de los tantos fallos en la medicina moderna.<br />
Desde hace miles de a&ntilde;os fue usada exitosamente en Egipto y despu&eacute;s fue olvidada. Pero hoy en d&iacute;a sigue a&uacute;n vigente gracias a sus particularidades &uacute;nicas.<a href="http://www.abciencia.com.ar/medicina/reaparici%C3%B3n-de-la-obsidiana"><br />
</a></p>
<p><a href="http://www.abciencia.com.ar/medicina/vih-es-sida"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">&iquest;VIH es SIDA?</font></b></font></a><br />
El V.I.H. es un virus que ataca y destruye tu Sistema Inmune, de manera progresiva en el tiempo. Si se desarrolla puede producirse el s&iacute;ndrome conocido como &ldquo; SIDA&rdquo;, y provocar la muerte.<a href="http://www.abciencia.com.ar/medicina/la-vida-en-el-utero"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
</font></b></font></a></p>
<p><a href="http://www.abciencia.com.ar/medicina/la-desnutricion-en-el-siglo-xxi"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">La Desnutrici&oacute;n en el Siglo XXI</font></b></font></a><br />
La desnutrici&oacute;n, originada por la ingesti&oacute;n no eficiente de nutrientes seg&uacute;n los requerimientos fisiol&oacute;gicos, es, desde hace mucho tiempo, un fen&oacute;meno de alcance mundial. Ha pasado a ser una de las enfermedades m&aacute;s comunes en la actualidad ya que se encuentra relacionada con la condici&oacute;n social del hombre, que hoy en d&iacute;a no resulta favorable; en especial en los pa&iacute;ses en v&iacute;as de desarrollo.<a href="http://www.abciencia.com.ar/medicina/la-vida-en-el-utero"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
</font></b></font></a></p>
<p><a href="http://www.abciencia.com.ar/medicina/el-dengue-entre-nosotros"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">El dengue, entre nosotros</font></b></font></a><br />
El Dengue es una enfermedad viral infectocontagiosa, cuyo vector o agente es el mosquito AEDES AEGYPTI. Que esta enfermedad sea transmitida por un mosquito, hace que sea de muy sencilla y r&aacute;pida transmisi&oacute;n, y por tanto causante de numerosas epidemias en distintos lugares del mundo<a href="http://www.abciencia.com.ar/medicina/la-vida-en-el-utero"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
</font></b></font></a></p>
<p><a href="http://www.abciencia.com.ar/medicina/cuando-el-epstein-barr-llega-al-cuerpo"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Cuando el Epstein-Barr llega al cuerpo</font></b></font></a><br />
En 1920 fue incorporado en el campo de la medicina el t&eacute;rmino &ldquo;mononucleosis infecciosa&rdquo; para describir ciertos s&iacute;ntomas, pero fue reci&eacute;n en 1968, cuando se demostr&oacute; que el Epstein-Barr era el causante de los mismos.</p>
<p><a href="http://www.abciencia.com.ar/medicina/hasta-que-la-muerte-nos-separe"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Hasta que la Muerte nos separe...</font></b></font></a><br />
El termino &ldquo;gemelos siameses&rdquo; debe su origen a los hermanos Chang y Eng Bunker. Nacidos en Siam, (ahora Tailandia) fueron el primer caso de gemelos siameses famosos. Estos ten&iacute;an la peculiaridad de estar unidos por una secci&oacute;n de su cuerpo, a trav&eacute;s del h&iacute;gado, y fueron exhibidos como monstruos de la naturaleza en espect&aacute;culos circenses durante la mayor parte de su vida. Estos &ldquo;fen&oacute;menos&rdquo; ocurren en uno de cada 100.000 partos y se originan por una mala divisi&oacute;n de las c&eacute;lulas de los embriones, dando lugar a gemelos &ldquo;acoplados&rdquo;.</p>
<p><a href="http://www.abciencia.com.ar/medicina/el-cordon-umbilical-al-tacho-o-al-freezer"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">El cord&oacute;n umbilical: &iquest;Al tacho o al freezer?</font></b></font></a><br />
El avance de recientes estudios revelan una nueva esperanza a la sociedad: la preservaci&oacute;n del cord&oacute;n umbilical puede resultar un fen&oacute;meno que salve vidas, o al menos mejore su calidad.<b><br />
</b></p>
<p><a href="http://www.abciencia.com.ar/medicina/dormir-despierto-tu-peor-pesadilla"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Dormir despierto, &iquest;tu peor pesadilla?</font></b></font></a><br />
La anestesia es el modo m&aacute;s eficiente, conocido hasta el momento, con el cual se anula total o parcialmente la sensibilidad. Pero en determinados y dram&aacute;ticos casos las funciones de la anestesia no se cumplen totalmente y ocurre el despertar durante la operaci&oacute;n. &iquest;Qu&eacute; le sucede al paciente entonces?</p>
<p><a href="http://www.abciencia.com.ar/medicina/tiempo-para-morir"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Tiempo para Morir</font></b></font></a><br />
Un debate sobre uno de los temas m&aacute;s relevantes de nuestra &eacute;poca, un debate sobre la vida y la muerte, sobre la libertad de elecci&oacute;n y el control de la vida.</p>
<p><a href="http://www.abciencia.com.ar/medicina/la-calvicie-un-estigma-para-el-hombre-moderno"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">La Calvicie, un estigma para el hombre moderno</font></b></font></a><br />
La calvicie, conocida tambi&eacute;n como alopecia, es la p&eacute;rdida o ausencia de cabello. Se hace m&aacute;s notable en el cuero cabelludo, aunque puede presentarte en cualquier lugar del cuerpo donde crezca cabello. Esta condici&oacute;n es m&aacute;s com&uacute;n en los hombres que en las mujeres.</p>
<p><a href="http://www.abciencia.com.ar/medicina/la-gripe-y-los-miedos"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">La Gripe y Los Miedos</font></b></font></a><br />
Estamos en el pico de la pandemia de gripe, y a pesar de la enorme difusi&oacute;n del tema en los medios, domina la confusi&oacute;n y el miedo. En este art&iacute;culo nos proponemos aclarar cada uno de los puntos que necesitamos conocer sobre esta antigua y respetable enfermedad. Para saber qu&eacute; hacer, pero sobre todo para saber qu&eacute; pensar, y que no lo hagan otros por vos. En el escenario, una vez m&aacute;s, la exitosa Gripe.<a href="http://www.abciencia.com.ar/medicina/ni&ntilde;os-tecnologicos-cada-vez-mas-cerca-del-autismo"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><br />
</font></b></font></a></p>
<p><a href="http://www.abciencia.com.ar/medicina/es-hora-de-dormir-y-no-tengo-sue&ntilde;o"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Es Hora de Dormir, y no tengo Sue&ntilde;o...</font></b></font></a><br />
Solo los que sobrellevan el insomnio noche tras noche saben lo desesperante que puede ser querer dormir y no poder. Entra en un estado irritable, el d&iacute;a siguiente no se siente l&uacute;cido, no rinde en el trabajo, todo le juega en contra. Y parece ser como un c&iacute;rculo vicioso. Cuanto m&aacute;s se precisa dormir y descansar, m&aacute;s dificultad se tiene. El insomnio es un trastorno del sue&ntilde;o que puede tener diversas causas pero que si se agrava, requiere tratamiento m&eacute;dico.</p>
<p><a href="http://www.abciencia.com.ar/medicina/no-quiero-fumar-mas-papa"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">No quiero fumar m&aacute;s, pap&aacute;</font></b></font></a><br />
Hoy en d&iacute;a no solo aquellas personas que fuman son las perjudicadas con las sustancias t&oacute;xicas del cigarrillo, sino que todo el mundo est&aacute; sometido a este problema, y especialmente aquellos que no eligen fumar pero se ven forzados a hacerlo diariamente.</p>
<p><a href="http://www.abciencia.com.ar/medicina/la-aspirina-va-a-beijing"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">La aspirina va a Beijing</font></b></font></a><br />
&iquest;Podemos decir que el deporte es realmente salud? &iquest;Hasta d&oacute;nde somos capaces de llegar por conseguir un poco de gloria?<br />
Como todos sabemos, el rendimiento f&iacute;sico de los deportistas ha ido increment&aacute;ndose en las &uacute;ltimas d&eacute;cadas. Es as&iacute; que, si hacemos referencia a las &uacute;ltimas olimpiadas observaremos que los r&eacute;cords mundiales han sido &ldquo;f&aacute;ciles&rdquo; de romper. D&iacute;a a d&iacute;a millones de deportistas buscan superarse,&nbsp; llegar al l&iacute;mite, destacarse. Sin embargo, &iquest;cu&aacute;l es el precio que los mismos pagan para llegar tan lejos?</p>
<p><a href="http://www.abciencia.com.ar/medicina/el-estresazo"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">El estresazo</font></b></font></a><br />
El estr&eacute;s y sus consecuencias. A qui&eacute;nes afecta y c&oacute;mo reconocerlo y prevenirlo. Un s&iacute;ndrome que no hay que minimizar.</p>
<p><a href="http://www.abciencia.com.ar/medicina/aumento-de-casos-de-mala-praxis"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif">Aumento en casos de Mala Praxis &iquest;O creciente notoriedad p&uacute;blica?</font></b></font></a><br />
La mala praxis es un tema que &ldquo;hace ruido&rdquo; en la sociedad, es uno de los problemas de salud m&aacute;s preocupantes que tienen los pa&iacute;ses latinoamericanos en las &uacute;ltimas d&eacute;cadas y que invita a un profundo y serio debate de los diversos actores involucrados. Los medios contribuyen a la confusi&oacute;n general.</p>
<!-- google_ad_section_end --><br class="clear" />
<div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x90 */
google_ad_slot = "8129496916";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></p>  </div>