<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2>Contacto</h2>                                                  <div class="clear-block">
            <form action="/contacto"  accept-charset="UTF-8" method="post" id="contact-mail-page">
<div>Puede enviar un mensaje usando el formulario de contacto de abajo.<div class="form-item" id="edit-name-wrapper">
 <label for="edit-name">Su nombre: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
 <input type="text" maxlength="255" name="name" id="edit-name" size="60" value="" class="form-text required" />
</div>
<div class="form-item" id="edit-mail-wrapper">
 <label for="edit-mail">Su dirección de correo-e: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
 <input type="text" maxlength="255" name="mail" id="edit-mail" size="60" value="" class="form-text required" />
</div>
<div class="form-item" id="edit-subject-wrapper">
 <label for="edit-subject">Asunto: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
 <input type="text" maxlength="255" name="subject" id="edit-subject" size="60" value="" class="form-text required" />
</div>
<div class="form-item" id="edit-message-wrapper">
 <label for="edit-message">Mensaje: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
 <textarea cols="60" rows="5" name="message" id="edit-message"  class="form-textarea resizable required"></textarea>
</div>
<div class="captcha"><input type="hidden" name="captcha_sid" id="edit-captcha-sid" value="2247"  />
<input type="hidden" name="captcha_token" id="edit-captcha-token" value="735c2fdedd60ff1e1bfcc51146651f60"  />
<input type="hidden" name="captcha_response" id="edit-captcha-response" value="reCAPTCHA"  />
<div class="form-item">
 <div id="recaptcha_ajax_api_container"></div>
</div>
</div><input type="submit" name="op" id="edit-submit" value="Enviar un correo-e"  class="form-submit" />
<input type="hidden" name="form_build_id" id="form-449fb9cf9a07e1c186bd4ff6561dd43e" value="form-449fb9cf9a07e1c186bd4ff6561dd43e"  />
<input type="hidden" name="form_id" id="edit-contact-mail-page" value="contact_mail_page"  />

</div></form>
          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4210258-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
  </body>
</html>
