<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>

<div id="block-block-1" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="Descargar Mozilla Firefox 4" href="http://www.mozilla-europe.org/es/products/firefox/"><img width="110" height="32" style="border: 0pt none ;" alt="Mozilla Firefox 4" src="http://www.abciencia.com.ar/images/firefox.png" /></a></p>
</div>
</div>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
                                                                                          <div class="clear-block">
            <div id="node-1" class="node">


  <h2><a href="/node/1" title="Comienza ABCiencia">Comienza ABCiencia</a></h2>

      <span class="submitted">Escrito por Fernando Sica</span>
  
  <div class="content clear-block">
    <p><!-- google_ad_section_start --><h5>
	Esta es una revista de divulgaci&oacute;n cient&iacute;fica y tecnol&oacute;gica.<br />
	Pero la ciencia en su esp&iacute;ritu es mucho m&aacute;s que una profesi&oacute;n,<br />
	Es indagaci&oacute;n, es curiosidad, es esp&iacute;ritu inquieto, es aventura de descubrimiento,<br />
	Es preguntarse, es luchar contra la conformidad, la autoridad, la imposici&oacute;n del dogma,<br />
	La ciencia es una empresa maravillosa.<br />
	Y la tecnolog&iacute;a expresa la maravillosa creatividad del hombre,<br />
	Los vastos mundos que puede construir,<br />
	El desaf&iacute;o a los l&iacute;mites de la naturaleza,<br />
	Las nuevas preguntas que solo la imaginaci&oacute;n puede responder,<br />
	La b&uacute;squeda de nuevas extensiones para el universo humano.<br />
	De todo esto nace una idea,<br />
	Una idea de divulgar lo que nos gusta, nos apasiona, nos entretiene, nos importa.<br />
	Sin ser expertos, solo curiosos. Sin ser profesionales, solo audaces. Sin ser escritores, solo inquietos.<br />
	La ciencia y la tecnolog&iacute;a son para todos, ese es el esp&iacute;ritu. Y vos pod&eacute;s ser parte de este proyecto.<br />
	Aqu&iacute; te brindamos la posibilidad de formar parte de un&nbsp; proyecto colectivo. Pod&eacute;s escribir sobre los temas que te interesen, pod&eacute;s participar de la manera que desees, pod&eacute;s opinar sobre los art&iacute;culos que se presentan, y pod&eacute;s sugerir sin limitaciones cuestiones a debate.<br />
	La ciencia y la tecnolog&iacute;a est&aacute;n en nuestras vidas siempre, aqu&iacute; reflexionamos sobre ellas, nos informamos, y ejercemos una pr&aacute;ctica period&iacute;stica aficionada pero responsable. Pretendemos instalar la discusi&oacute;n, hacer aportes creativos, proponer miradas nuevas, expresarnos de manera original, evitar el plagio o la reproducci&oacute;n mediocre, pensar el impacto que tienen en nuestras vidas&hellip;</h5>
<h3>
	&nbsp;</h3>
<h4>
	<strong>&iquest;Te lo repito?, la ciencia y la tecnolog&iacute;a nos apasionan. Por eso te ofrecemos esta revista, para que seas parte, para que la construyas con nosotros.</strong></h4>
<h4>
	<strong>&iexcl;Sumate a ABCiencia!</strong></h4>
<p>&nbsp;</p>
<h5>
	<strong>Novedades:</strong></h5>
<ul>
<li>
		<a href="http://www.abciencia.com.ar/matematicas/la-matematica-y-el-futbol-juegan-en-el-mismo-equipo" style="background-color: rgb(255, 255, 255); "><font color="#1b5f42"><b><font face="arial,helvetica,sans-serif" size="3">La Matem&aacute;tica y el Futbol juegan en el mismo Equipo</font></b></font></a></li>
<li>
		<a href="http://abciencia.com.ar/medicina/transplantes-beneficios-para-todos"><font color="#1b5f42"><b><font face="arial,helvetica,sans-serif" size="3">Transplantes: Beneficios para Todos...</font></b></font></a></li>
<li>
		<a href="http://abciencia.com.ar/medicina/doping-cuando-la-pelota-se-mancha"><font color="#1b5f42"><b><font face="arial,helvetica,sans-serif" size="3">Doping: Cuando la pelota se mancha</font></b></font></a></li>
<li>
		<a href="http://abciencia.com.ar/medicina/que-le-pasa-a-tu-cuerpo-cuando-consumis-marihuana"><font color="#1b5f42"><b><font face="arial,helvetica,sans-serif" size="3">Qu&eacute; le pasa a tu cuerpo cuando consum&iacute;s Marihuana</font></b></font></a><i><font face="arial, sans-serif"> </font></i></li>
<li>
		<font color="#1b5f42"><b><font face="arial,helvetica,sans-serif" size="3"><a href="http://www.abciencia.com.ar/medicina/como-funciona-nuestra-memoria">&iquest;C&oacute;mo funciona nuestra memoria?</a></font></b></font></li>
</ul>
<!-- google_ad_section_end --><br class="clear" />
<div class='adsense adsense_managed'>
</div></p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
          </div>
          <a href="http://abciencia.com.ar/rss.xml" class="feed-icon"><img src="/assets/feed.png" alt="Distribuir contenido" title="ABCiencia RSS" width="16" height="16" /></a>          <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

