<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2>Licencia</h2>                                                  <div class="clear-block">
            <div id="node-19" class="node">



  
  <div class="content clear-block">
    <div><!--adsense: page not in match list--></div>
<p><!-- google_ad_section_start --><table border="0" width="99%">
<tbody>
<tr>
<td bgcolor="#52bf90">
<p align="center"><font size="4"><b>ABCiencia</b> y todo su contenido original est&aacute; protegido bajo la licencia <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">by-nc-sa</a> de <a href="http://creativecommons.org/">Creative Commons</a>.</font></p>
<p align="center"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">       <img src="http://i.creativecommons.org/l/by-nc-sa/2.5/es/88x31.png" alt="Creative Commons License" style="border-width: 0pt;" /></a></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table border="0" width="99%">
<tbody>
<tr>
<td height="36" colspan="2" bgcolor="#52bf90">&nbsp;<b>Eres libre de:</b></td>
</tr>
<tr>
<td width="2%">
<p align="center"><img src="http://labs.creativecommons.org/demos/dhtmllicense/images/share.png" height="50" width="50" /></p>
</td>
<td width="95%"><span class="license share">Copiar, distribuir y comunicar p&uacute;blicamente la obra.</span></td>
</tr>
<tr>
<td>
<p align="center"><img src="http://labs.creativecommons.org/demos/dhtmllicense/images/remix.png" height="50" width="50" /></p>
</td>
<td><span class="license remix">Hacer obras derivadas.</span></td>
</tr>
</tbody>
</table>
<table border="0" width="99%">
<tbody>
<tr>
<td height="36" colspan="2" bgcolor="#52bf90"><b>Siempre bajo estas condiciones:</b></td>
</tr>
<tr>
<td width="5%">
<p align="center"><img src="http://labs.creativecommons.org/demos/dhtmllicense/images/by.png" height="50" width="50" /></p>
</td>
<td width="95%"><b>Reconocimiento</b>. Debe reconocer los cr&eacute;ditos de la obra de la manera especificada por el autor o el licenciador (pero no de una manera que sugiera que tiene su apoyo o apoyan el uso que hace de su obra).</td>
</tr>
<tr>
<td>
<p align="center"><img src="http://labs.creativecommons.org/demos/dhtmllicense/images/nc.png" height="50" width="50" /></p>
</td>
<td><b>No comercial</b>. No puede utilizar esta obra para fines comerciales.</td>
</tr>
<tr>
<td>
<p align="center"><img src="http://labs.creativecommons.org/demos/dhtmllicense/images/sa.png" height="50" width="50" /></p>
</td>
<td><b>Compartir bajo la misma licencia</b>. Si altera o transforma esta obra, o genera una obra derivada, s&oacute;lo puede distribuir la obra generada bajo una licencia id&eacute;ntica a &eacute;sta.</td>
</tr>
</tbody>
</table>
<table border="0" width="99%">
<tbody>
<tr>
<td height="36" colspan="2" bgcolor="#52bf90"><b>Otras observaciones:</b></td>
</tr>
<tr>
<td width="95%">
<ul>
<li>Al reutilizar o distribuir la obra, tiene que dejar bien claro los t&eacute;rminos de la licencia de esta obra.</li>
</ul>
</td>
</tr>
<tr>
<td>
<ul>
<li>Alguna de estas condiciones puede no aplicarse si se obtiene el permiso del titular de los derechos de autor.</li>
</ul>
</td>
</tr>
<tr>
<td>
<ul>
<li>Nada en esta licencia menoscaba o restringe los derechos morales del autor.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<table border="0" width="99%">
<tbody>
<tr>
<td height="36" colspan="2" bgcolor="#52bf90"><b>Texto completo de la licencia:</b></td>
</tr>
<tr>
<td width="95%">
<ul>
<li>Lo aqu&iacute; mostrado es s&oacute;lo un resumen.</li>
</ul>
</td>
</tr>
<tr>
<td>
<ul>
<li>El texto completo de la licencia est&aacute; accesible en <b><a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/legalcode">este enlace</a></b>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- google_ad_section_end --><br class="clear" />
<!--adsense: page not in match list--></p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4210258-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
  </body>
</html>
